<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Santuario Ambrosía</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <p id="logotipo">SANTUARIO AMBROSIA</p>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Fotos Santuario</a></li>
                <li class="litio"><a class="menuformato" href="contacto.html">Contacto</a></li>
                <li><a href="ubicacion.html">Ubicacion</a></li>
            </ul>

        </header>
        <main>
            <form >
            <p class="pform">Nombre</p><input type="text" name="nombre" id="nombre" pattern="[a-z][A-Z" minlength="2" required>
            <p class="pform">Teléfono</p><input type="number" name="telefono" id="telefono" required>
            <p class="pform">Email</p><input type="email" name="email" id="email" minlength="9" maxlength="25" required>
            <p class="pform">Solicite mas informacion <input type="text" placeholder="Solicite mas informacion" name="informacion" id="informacion" pattern="[a-z][A-Z"></p>
            <p class="pform">Aceptar política de privacidad<input type="checkbox" required></p>
            <input type="reset">
            <input type="submit">
            </form>
        </main>
        <footer> 
            <div class="pie">
                <a href="https://www.instagram.com"><img src="../images/insta.webp" alt="imagen instagram" id="insta"></a>
                <a href="https://www.facebook.com"><img src="../images/imagenface.jpg" alt="imagen facebook" id="imagenface"></a>
                <p class="letraspie">Direccion: Cesar Gomez de Lucia 3 2C</p>
                <p class="enlaceaviso"><a href="www.avisolegal.com">Aviso legal</a></p>
            </div>
    </footer>
        
    </body>
</html>